config.log
src/.deps
Makefile
src/Makefile
src/stamp-h1
clean.sh
autom4te.cache
aclocal.m4
missing
*.in
src/*.in
install-sh
depcomp
configure
protected/*
cache/*
tags
ctags
*tag*
twitter.conf
twitterfu
src/twitterfu
src/*.swp
src/*~
*~
*.swp
obj/*.o

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

